.history {
  &__image {
    border-radius: var(--border-radius-s);
    margin-bottom: fluid(60, 30);
  }

  &__content {
    display: grid;
    row-gap: fluid(80, 40);
    padding-bottom: fluid(80, 40);
    border-bottom: var(--border-xs);

    &-title {
      position: relative;
      width: fit-content;
      margin: 0 auto;

      &::before {
        @include square(120px);

        content: '';
        position: absolute;
        top: -69px;
        left: -77px;
        background: url('../../assets/icons/history-title-content.svg') center/contain no-repeat;

        @include mobile {
          display: none;
        }
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    gap: 24px 20px;

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    color: var(--color-davys-grey);

    &-text-accent {
      font-weight: 700;
      color: var(--color-black);
    }
    
    a {
      color: var(--color-black);

      @include hover {
        color: var(--color-vermillion);
      }
    }
  }

  &__footer {
    display: grid;
    row-gap: fluid(80, 40);
    padding-top: fluid(100, 50);

    &-title {
      position: relative;
      width: fit-content;
      margin: 0 auto;

      &::before {
        @include square(120px);

        content: '';
        position: absolute;
        top: -80px;
        right: -67px;
        background: url('../../assets/icons/history-title-footer.svg') center/contain no-repeat;

        @include mobile {
          display: none;
        }
      }
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @include mobile {
      grid-template-columns: 1fr;
    }
  }
}