.hero-major {
  position: relative;
  text-align: center;
  padding-bottom: fluid(110, 50);
  padding-inline: 16px;

  &::before {
    @include abs-position(vertical);

    content: '';
    left: 0;
    z-index: 5;
    width: calc(630 / 1920 * 100%);
    height: 592px;
    background: url('../../assets/icons/hero-shape-swirl.svg') left/contain no-repeat;

    @include tablet {
      display: none;
    }
  }

  &::after {
    @include abs-position(vertical);

    content: '';
    z-index: 5;
    right: 60px;
    width: calc(155 / 1920 * 100%);
    height: 216px;
    background: url('../../assets/icons/hero-stars.svg') center/contain no-repeat;

    @include tablet {
      display: none;
    }   
  }

  &--home {
    padding-bottom: fluid(110, 50);
  }

  &--about {
    padding-bottom: fluid(166, 30);
  }

  &__title {
    margin-bottom: fluid(40, 20);
  }

  &__highlight {
    color: var(--color-vermillion);
  }

  &__description {
    position: relative;
    z-index: 10;
    color: var(--color-davys-grey);
    max-width: 766px;
    margin: 0 auto;

    &:not(:last-child) {
      margin-bottom: fluid(70, 30);
    }
  }

  &__actions {
    @include flex-center;
    
    column-gap: 20px;

    @include mobile-s {
      flex-direction: column;
      row-gap: 20px;
    }
  }
}