.hero-major {
  position: relative;
  text-align: center;
  padding-bottom: fluid(110, 50);
  padding-inline: 16px;

  &:has(.hero-major__info) {
    &::before, 
    &::after {
      @include laptop {
        display: none;
      }
    }
  }

  &::before {
    @include abs-position(vertical);

    content: '';
    left: 0;
    z-index: 5;
    width: calc(630 / 1920 * 100%);
    height: 592px;
    background: url('../../assets/icons/hero-shape-swirl.svg') left/contain no-repeat;

    @include tablet {
      display: none;
    }
  }

  &::after {
    @include abs-position(vertical);

    content: '';
    z-index: 5;
    right: 60px;
    width: calc(155 / 1920 * 100%);
    height: 216px;
    background: url('../../assets/icons/hero-stars.svg') center/contain no-repeat;

    @include tablet {
      display: none;
    }   
  }

  &--home {
    padding-bottom: fluid(110, 50);
  }

  &--about {
    padding-bottom: fluid(166, 30);
  }

  &--podcast {
    text-align: left;
    padding-top: fluid-to-mobile(100, 40);
    padding-bottom: 40px;

    .hero-card {
      @include mobile {
        width: 100%;
        height: 472px;
      }

      @include mobile-s {
        height: 373px;
      }
    }

    .hero-major__title {
      line-height: 1;
      text-align: left;
      padding-bottom: 20px;
      border-bottom: var(--border-s-black);
      margin: 0;
    }

    .hero-major__description {
      padding-top: 20px;
      color: var(--color-davys-grey);

      &:not(:last-child) {
        margin-bottom: fluid-to-mobile(40, 20);
      }
    }

    .hero-major__actions {
      display: flex;
      align-items: start;
      justify-content: flex-start;

      @include tablet {
        flex-direction: column;
        row-gap: 20px;
      }
    }

    .hero-major__link {
      display: flex;
      column-gap: 10px;

      &-accent {
        color: var(--color-vermillion);
      }
    }
  }

  &--blog {
    padding-bottom: fluid(117, 50);
  }

  &--single-blog {
    padding-top: fluid(56, 40);
    padding-bottom: 45px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  &__back {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 47px;
    transition-duration: var(--transition-duration);    
    cursor: pointer;

      @include hover {
        color: var(--color-vermillion);
      }

    &-icon {
      --iconSize: 24px;
    }

    &-link {
      font-size: 14px;
      color: var(--color-davys-grey);
    }
  }

  &__date {
    font-size: 14px;
    color: var(--color-davys-grey);
  }

  &__text {
    display: grid;
    row-gap: 10px;
  }

  &__title {
    margin-bottom: fluid(40, 20);
  }

  &__highlight {
    color: var(--color-vermillion);
  }

  &__description {
    position: relative;
    z-index: 10;
    color: var(--color-davys-grey);
    max-width: 766px;
    margin: 0 auto;

    &:not(:last-child) {
      margin-bottom: fluid(70, 30);
    }
  }

  &__actions {
    @include flex-center;
    
    column-gap: 20px;

    @include mobile-s {
      flex-direction: column;
      row-gap: 20px;
    }
  }

  &__tags,
  &__soc1als  {
    display: flex;
    justify-content: center;
  }

  &__tags {    
    &:not(:last-child) {
      margin-bottom: fluid(40, 20);
    }
  }
  
  &__info {
    position: relative;
    z-index: 10;
    display: grid;
    row-gap: fluid-to-mobile(80, 50);

    &-header,
    &-footer {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      align-items: center;
      column-gap: 20px;
    }

    &-header {
      @include mobile {
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 40px;
      }
    }
  }

  &__card {
    border-radius: var(--border-radius-m);
    box-shadow: var(--shadow-l-pewter-blue);
    background: url('../../assets/images/hero-card/3.jpg') center/cover no-repeat;
    grid-column: 1 / 6;

    @include mobile {
      grid-column: auto;
    }
  }

  &__content {
    grid-column: 7 / -1;

    @include mobile {
      grid-column: auto;
    }
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
  }

  &__subtitle {
    font-weight: 700;
    color: var(--color-vermillion);
  }

  &__hosted {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    &:not(:last-child) {
      margin-bottom: fluid-to-mobile(60, 40);
    }

    &-info {
      display: flex;
      align-items: center;
      column-gap: 10px;
    }

    &-avatar {
      @include square(36px);

      border-radius: 50%;
    }

    &-text {
      color: var(--color-davys-grey);

      &-accent {
        font-weight: 700;
        color: var(--color-vermillion);
      }
    }

    &-date {
      color: var(--color-davys-grey);
    }
  }

  &__text-tags {
    font-weight: 700;
    font-size: 14px;
    color: var(--color-davys-grey);
  }

  &__tags {
    grid-column: 2 / -1;
  }
}