.quote {
  &__hooks {
    @include fluid-text(96, 36);
    
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.02em;
    color: var(--color-vermillion);
  }

  &__author {
    display: inline-flex;
    align-items: center;
    column-gap: 10px;

    &-avatar {
      border-radius: 50%;
    }

    &-name {
      font-size: 14px;
    }

    &-text {
      font-weight: 700;
      font-size: 14px;
    }
  }

  &--intro {
    @include flex-center;

    flex-direction: column;
    position: relative;
    background-color: var(--color-champagne);
    border-radius: var(--border-radius-s);
    padding-block: fluid(40, 20);

    &::before {
      content: '';
      position: absolute;
      bottom: 50px;
      left: -60px;
      width: calc(120 / 1160 * 100%);
      height: 120px;
      background: url('../../assets/icons/swirl-intro.svg') center/contain no-repeat;

      @include tablet {
        display: none;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: -78px;
      right: -57px;
      width: calc(200 / 1160 * 100%);
      height: 200px;
      background: url('../../assets/icons/star-intro.svg') center/contain no-repeat;

      @include laptop {
        top: -98px;
        right: 0;
      }

      @include tablet {
        display: none;
      }
    }

    .quote__blockquote {
      @include fluid-text(36, 20);

      font-weight: 700;
      line-height: 1.4;
      letter-spacing: -0.02em;

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    .quote__author {
      justify-content: center;
    }
  }

  &--listeners {
    text-align: left;

    .quote__blockquote {
      @include fluid-text(22, 16);
      
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }
}