.button {
  @include flex-center(true);

  font-weight: 700;
  font-size: 14px;
  color: var(--color-white);
  background-color: var(--color-black);
  border: none;
  border-radius: var(--border-radius-s);
  box-shadow: var(--shadow-s-black);
  text-transform: uppercase;
  padding: fluid-to-mobile(20, 16) fluid-to-mobile(36, 22);
  user-select: none;
  cursor: pointer;

  @include hover {
    color: var(--color-white);
    background-color: var(--color-vermillion);
  }

  &:active {
    scale: 1.05;
  }

  &:disabled {
    color: var(--color-white);
    background-color: var(--color-pewter-blue);
    pointer-events: none;
  }

  &:has(.button__icon:only-child) {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
  }

  &--submenu {
    .button__icon {
       --iconSize: 16px;

      svg {
        fill: none;
        stroke: var(--color-black);

        @include hover {
          stroke: var(--color-vermillion);
        }
      }
    }
  }

  &--recent,
  &--subscripe {
    padding: 12px 24px;
  }

  &--recent {
    color: var(--color-black);
    background-color: transparent;
    border: var(--border-l);
    box-shadow: none;

    @include hover {
      color: var(--color-vermillion);
      background-color: transparent;
      border-color: var(--color-vermillion);
    }
  }

  &--subscripe {
    box-shadow: var(--shadow-xs);    
  }

  &--soc1als {
    &-base,
    &-footer {
      .button__icon {
        --iconSize: 24px;

        svg {
          stroke: none;

          @include hover {
            fill: var(--color-vermillion);
          }
        }
      }
    }

    &-base {
      svg {
        fill: var(--color-white);
      }
    }

    &-footer {
      svg {
        fill: var(--color-black);
      }
    }
  }

  &--hero-major {
    padding: fluid-to-mobile(24, 16) fluid-to-mobile(48, 24);
  }

  &--slider-navigation-btn {
    color: var(--color-black);

    .button__icon {
      @include hover {
        svg {
          stroke: var(--color-vermillion);
        }
      }
    }
  }

  &--quote {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    padding: 0;

    @include hover {
      background-color: transparent;
    }

    .button__icon {
      --iconSize: 16px;

      svg {
        fill: #1ED760;
        stroke: var(--color-black);
      }
    }
  }
}