.burger-button {
  @include flex-center(true);
  @include square(42px);

  padding: 0;
  background-color: transparent;
  border: var(--border-l);
  border-radius: var(--border-radius-s);

  @include hover {
    border-color: var(--color-vermillion);

    .burger-button__line {
      stroke: var(--color-vermillion);
    }
  }

  &.is-active {
    .burger-button__line {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;

      &--2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;  
      }
    }
  }

  &:not(.is-active) {
    .burger-button__line--3 {
      stroke-dasharray: 30 207;
      stroke-dashoffset: -30;
    }
  }

  &__line {
    fill: none;
    stroke: var(--color-black);
    stroke-width: 6;
    stroke-linecap: round;
    stroke-dasharray: 60 207;
    transition:
      stroke-dasharray var(--transition-duration-longer) cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset var(--transition-duration-longer) cubic-bezier(0.4, 0, 0.2, 1),
      stroke var(--transition-duration) ease;

    &--2 {
      stroke-dasharray: 60 60;  
    }
  }
}

