.listeners {
  background-color: var(--color-alice-blue);

  @include scribble-icon(black);
  
  .section__body {
    padding-left: max(16px, calc(100vw - 1556px));

    @include mobile-s {
      padding-right: 16px;
    }
  }

  .slider__list {
    height: auto;
  }
}