.section {
  padding-block: var(--section-padding-y);

  &__header {
    &:not(:last-child) {
      margin-bottom: fluid(100, 50);
    }
  }

  &__title {
    &--intro {
      max-width: 735px;
      margin: 0 auto;
    }
  }
}