.section {
  text-align: center;
  padding-block: var(--section-padding-y);

  &__header {
    display: grid;
    justify-items: center;
    row-gap: 20px;

    &:not(:last-child) {
      margin-bottom: fluid(100, 50);
    }
  }

  &__title {
    position: relative;
    z-index: 10;
    max-width: fit-content;
    margin: 0 auto;
    
    &--intro {
      max-width: 735px;
    }

    &--listeners {
      &::before {
        content: '';
        position: absolute;
        z-index: 5;
        top: -69px;
        left: -99px;
        width: fluid(105, 50);
        height: fluid(105, 50);
        background: url('../../assets/icons/intro-title-icon.svg') center/contain no-repeat;

        @include tablet {
          left: -80px;          
        }

        @include mobile {
          display: none;
        }
      }      
    }

    &--benefits {
      &::after {
        content: '';
        position: absolute;
        z-index: 5;
        top: -50px;
        right: -65px;
        width: fluid(195, 50);
        height: fluid(92, 50);
        background: url('../../assets/icons/benefits-title-icon.svg') center/contain no-repeat;

        @include laptop {
          top: -90px;
          left: 50%;
          transform: translateX(-50%);
          rotate: 345deg;
        }

        @include tablet {
          top: -80px;
        }

        @include mobile {
          display: none;
        }
      }
    }

    &--sponsor {
      &::before {
        content: '';
        position: absolute;
        top: -33px;
        left: -45px;
        width: 62px;
        height: 60px;
        background: url('../../assets/icons/sponsor-title-icon.svg') center/contain no-repeat;

        @include mobile {
          display: none;
        }
      }
    }

    &--pod {
      max-width: 486px;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
  
  &__description {
    font-size: 22px;
    color: var(--color-davys-grey);
  }
}