.section {
  text-align: center;
  padding-block: var(--section-padding-y);

  &__header {
    display: grid;
    row-gap: 20px;

    &:not(:last-child) {
      margin-bottom: fluid(100, 50);
    }
  }

  &__title {
    position: relative;
    z-index: 10;
    
    &--intro {
      max-width: 735px;
      margin: 0 auto;
    }

    &--benefits {
      &::after {
        content: '';
        position: absolute;
        z-index: 5;
        top: -50px;
        right: 185px;
        width: fluid(195, 50);
        height: fluid(92, 50);
        background: url('../../assets/icons/benefits-title-icon.svg') center/contain no-repeat;

        @include laptop {
          top: -90px;
          left: 50%;
          transform: translateX(-50%);
          rotate: 345deg;
        }

        @include tablet {
          top: -80px;
        }

        @include mobile {
          display: none;
        }
      }
    }
  }
  
  &__description {
    font-size: 22px;
    color: var(--color-davys-grey);
  }
}