.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--color-champagne);
  padding-top: 40px;
  padding-bottom: var(--section-padding-y);

  &:has(.hero-major--podcast),
  &:has(.hero-major--blog),
  &:has(.hero-major--single-blog) {
    padding: 0;

    &::after {
      display: block;

      @include tablet-above {
        display: none;
      }
    }
  }

  @include scribble-icon('vermillion');

  &--swirl {
    position: relative;

    &::before {
      @include square(120px);

      content: '';
      position: absolute;
      bottom: -60px;
      right: 0;
      background: url('../../assets/icons/scribble-vermillion-alternate.svg') center/contain no-repeat;
      
      @include tablet {
        display: none;
      }
    }
  }

  .platforms__list {
    gap: 10px 20px;

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mobile-s {
      flex-direction: column;
    }
  }

  .platforms__item {
    width: fluid(275, 130);
    height: fluid(84, 50);
  }

  .platforms__link {
    height: 36px;
  }

  @include mobile {
    min-height: 139px;
  }

  &__slider {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: fluid(120, 50);
    }
  }

  &__platforms {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
    padding-block: 20px;
    border-block: var(--border-m-grey);

    @include tablet {
      flex-direction: column;
      row-gap: 10px;
    }
  }

  &__subscriptions-cards {
    @include abs-position(horizontal);

    bottom: -116px;
    z-index: 40;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: fit-content;

    @include tablet {
      position: static;
      transform: none;
    }

    @include mobile-s {
      grid-template-columns: 1fr;
      width: 100%;
    }
  }

  &__search {
    @include abs-position(horizontal);

    z-index: 15;
    bottom: -37px;
    width: 100%;
    max-width: 570px;
    height: fluid(74, 40);
    padding-inline: 16px;
    margin: 0 auto;

    @include tablet {
      position: static;
      transform: none;
      margin: 0 auto;
      margin-bottom: 50px;
    }
  }
}