:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-davys-grey: #4D4D4D;
    --color-pewter-blue: #81ADC8;
    --color-vermillion: #CD4631;
    --color-champagne: #F7EDE8;
    --color-alice-blue: #EDF3F7;

    --border-s: var(--border-width-s) solid var(--color-davys-grey);
    --border-m: var(--border-width-m) solid var(--color-davys-grey);
    --border-l: var(--border-width-l) solid var(--color-black);

    --border-width-l: 2px;
    --border-width-m: 1.5px;
    --border-width-s: 0.5px;

    --border-radius-l: 16px;
    --border-radius-m: 12px;
    --border-radius-s: 8px;
    --border-radius-xs: 4px;

    --shadow-s: var(--shadow-param-s) var(--shadow-param-s) 0 0 rgba(0, 0, 0, 0.25);
    --shadow-m-black: var(--shadow-param-m) var(--shadow-param-m) 0 0 rgba(0, 0, 0, 0.25);
    --shadow-m-vermillion: var(--shadow-param-m) var(--shadow-param-m) 0 0 var(--color-vermillion);
    --shadow-m-pewter-blue: var(--shadow-param-m) var(--shadow-param-m) 0 0 var(--color-pewter-blue);
    --shadow-l-black: var(--shadow-param-l) var(--shadow-param-l) 0 0 var(--color-black);
    --shadow-l-pewter-blue: var(--shadow-param-l) var(--shadow-param-l) 0 0 var(--color-pewter-blue);

    --shadow-param-l: 10px;
    --shadow-param-m: 6px;
    --shadow-param-s: 3px;

    --font-family-base: 'Montserrat', sans-serif;

    --container-width: #{fluid-to-laptop($container-desktop-width, $container-laptop-width)};
    --container-padding-x: 16px;

    --section-padding-y: #{fluid(140, 50)};

    --transition-duration: 0.2s;
    --transition-duration-longer: 0.4s;
}