.about-card {
  @include flex-center;

  flex-direction: column;
  text-align: center;
  row-gap: 20px;
  width: calc(373 / 1920 * 100vw);
  height: fluid(235, 150);
  background-color: var(--color-white);
  border: var(--border-m-black);
  border-radius: var(--border-radius-s);
  box-shadow: var(--shadow-s-vermillion);
  padding-inline: 16px;

  @include mobile {
    width: 100%;
  }

  &__value {
    @include fluid-text(59, 24);

    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: var(--color-vermillion);

    &-accent {
      color: var(--color-black);
    }
  }

  &__text {
    color: var(--color-davys-grey);
  }
}