.tabs-navigation {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 20px;

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
  }

  @include mobile-s {
    grid-template-columns: repeat(2, 1fr);
  }

  &__button {
    font-size: 22px;
    color: var(--color-davys-grey);
    padding: 8px 16px;
    transition-duration: var(--transition-duration);
    cursor: pointer;
    user-select: none;

    @include hover {
      color: var(--color-black);
    }

    &.is-active {
      color: var(--color-vermillion);
      pointer-events: none;
    }
  }
}