.tabs-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 10px;

  @include tablet {
    justify-content: center;
  }

  &__button {
    font-size: 22px;
    color: var(--color-davys-grey);
    padding: fluid-to-mobile(8, 5) fluid-to-mobile(16, 10);
    transition-duration: var(--transition-duration);
    cursor: pointer;
    user-select: none;

    @include hover {
      color: var(--color-black);
    }

    &.is-active {
      color: var(--color-vermillion);
      pointer-events: none;
    }
  }
}