.base-card {
  position: relative;
  z-index: 10;
  display: grid;
  column-gap: 20px;
  background-color: var(--color-white);
  border: var(--border-l);
  border-radius: var(--border-radius-s);
  box-shadow: var(--shadow-m-black);
  padding: 16px;

  &--news {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
      'image image'
      'text text'
      'meta meta'
    ;
  }

  &__image {
    margin-bottom: 40px;
    border-radius: var(--border-radius-s);
    grid-area: image;

    @include mobile {
      width: 100%;
    }
  }

  &__text {
    text-align: left;
    padding-bottom: 40px;
    border-bottom: var(--border-xs);
    grid-area: text;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 14px;
    color: var(--color-davys-grey);
    text-transform: uppercase;
    margin-bottom: 6px;
  }

  &__title {
    display: flex;
    text-align: left;
    
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__description {
    font-size: 14px;
    color: var(--color-davys-grey);
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    padding-top: 20px;
    grid-area: meta;

    &-date {
      font-weight: 700;
      font-size: 12px;
      color: var(--color-davys-grey);
    }
  }
}