.header {
  position: sticky;
  z-index: 100;
  top: 0;
  width: 100%;
  background-color: var(--color-champagne);
  padding-block: fluid(24, 14);
  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 0 150px;
  
  @keyframes scrolling-header {
    to {
      background-color: var(--color-pewter-blue);
      padding-block: 10px;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    column-gap: 20px;

    @include mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 16px;
    }
    
  }

  &__overlay-menu-dialog {
    @include square(100%);

    position: fixed;
    inset: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    background-color: var(--color-pewter-blue);
    border: none;
    padding: var(--container-padding-x);
    transition-duration: var(--transition-duration);
    transition-behavior: allow-discrete;

    @include mobile-above {
      display: contents;
    }

    @mixin starting-styles {
      opacity: 0;
      translate: 50%;
    }

    &[open] {
      display: flex;

      @starting-style {
        @include starting-styles;
      }
    }

    &:not([open]) {
      @include starting-styles;
    }
  }

  &__menu {
    grid-column: 3 / span 4;

    @include tablet {
      grid-column: 2 / span 4;
    }

    @include mobile {
      display: flex;
      justify-content: center;
      width: 100%;
      overflow-y: auto;
    }
    
    &-list {
      display: flex;
      align-items: center;
      column-gap: 60px;

      @include mobile {
        flex-direction: column;
        row-gap: 20px;
        margin-block: auto;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      column-gap: 4px;
    }

    &-link {
      font-weight: 700;

      @include mobile {
        font-size: 20px;
      }

      &.is-active {
        pointer-events: none;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 20px;
    grid-column: 8 / -1;

    @include mobile {
      flex-direction: column;
      row-gap: 20px;
    }
  }

  &__burger-button {
    position: relative;
  }
}