.slider {
  &__swiper {
    &:not(:last-child) {
      margin-bottom: 60px;

      @include mobile-s {
        margin-bottom: 30px;
      }
    }
  }

  &__list {
    height: 380px;

    @include mobile-s {
      height: 33vh;
    }
  }

  &__item {
    &--hero {
      @include square(373px);

      border-radius: var(--border-radius-m);
      box-shadow: var(--shadow-l-pewter-blue);

      @include mobile-s {
        @include square(300px);
      }

      &:nth-child(1) {
        background: url('../../assets/images/hero-card/1.jpg') center/cover no-repeat;
      }
      &:nth-child(2) {
        background: url('../../assets/images/hero-card/2.jpg') center/cover no-repeat;
      }
      &:nth-child(3) {
        background: url('../../assets/images/hero-card/3.jpg') center/cover no-repeat;
      }
      &:nth-child(4) {
        background: url('../../assets/images/hero-card/4.jpg') center/cover no-repeat;
      }
      &:nth-child(5) {
        background: url('../../assets/images/hero-card/5.jpg') center/cover no-repeat;
      }
      &:nth-child(6) {
        background: url('../../assets/images/hero-card/6.jpg') center/cover no-repeat;
      }
    }

    &--listeners {
      width: 570px !important;
      height: fluid(360, 270);
      background-color: var(--color-white);
      border-radius: var(--border-radius-s);
      padding: 40px;

      @include mobile {
        padding: 20px;
      }

      @include mobile-s {
        width: 100% !important;
      }
    }
  }
}